# fly.toml app configuration file generated for remote-stock-exchange on 2026-01-25T15:39:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'remote-stock-exchange'
primary_region = 'bom'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  
  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 500

[env]
  PORT = "8080"

[checks]
  [checks.alive]
    grace_period = "30s"
    interval = "120s"
    method = "GET"
    timeout = "15s"
    path = "/health"
    type = "http"

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
